[
    {egraylog, [
        {install_handler, true},
        {transport, ssl},
        {transport_opts, [
            {certfile, "/tmp/cert.cert"},
            {keyfile, "/tmp/cert.key"},
            {cacertfile, "/tmp/cacert.cert"},
            {verify, verify_none}
        ]},
        {port, 12201},
        {host, "localhost"}
    ]}
].
